@import './base.scss';
@import "variables";
@import "mixins";

#app {
  margin: 0 auto;

}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
  color: $rouge;
}

.component {
  width: 40%;
}

.component-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $rouge;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;

}

.expand-button {
  background-color: $rouge;
  border: none;
  color: white;
  font-size: 2rem;
}

.description,
.equipments {

  background-color: $mid-grey;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: justify;
}