@import './base.scss';
@import "variables";
@import "mixins";

#app {
  margin: 0 auto;

}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
  color: $rouge;
}

.component {
  width: 40%;
}

.component-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $rouge;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;

}